<div class='flex flex-col'><div class='text-gray-500 flex flex-row space-x-1 items-center'><div>Plants</div></div><div class='text-black flex flex-row space-x-1 items-center'><div>36</div><div class='flex flex-row space-x-1 text-gray-500'><div>/</div><div>100 trees</div></div></div></div>