<div class='w-full bg-white border border-gray-200 rounded-lg shadow-sm'><div class='px-3 py-4 flex justify-between items-center border-b border-gray-200'><h2 class='text-lg font-semibold text-gray-800'></h2></div><div class='p-4 border-2 border-dashed'><div>Hello World</div></div></div>