<div class='flex flex-col'><div class='text-gray-500 flex flex-row space-x-1 items-center'><div>Plants</div></div><div class='text-black flex flex-row space-x-1 items-center'><div class='h-3 w-3 h-3 w-3 rounded-full bg-yellow-600'></div><div>36</div></div></div>