body {
    font-family: 'Inter', sans-serif;
    /*text-gray-800*/
    color: rgb(31, 41, 55);
}

.theme-light {
    --primary-1: #2185d0;
    --secondary-1: #1b1c1d;
    --neutral-1: #e0e1e2;
    --positive-1: #21ba45;
    --negative-1: #db2828;
    --low-1: #ffffff;
    --success: #00C5A4;
    --warning: #F17A3D;
    --error: #DC6150;
    --selection: #93C5FD;
    --pending: #9AA5B1;
    --ongoing: #F17A3D;
    --scale-0: #FFFFFF;
    --scale-1: #F5F7FA;
    --scale-2: #E4E7EB;
    --scale-3: #CBD2D9;
    --scale-4: #9AA5B1;
    --scale-5: #7B8794;
    --scale-6: #616E7C;
    --scale-7: #52606D;
    --scale-8: #3E4C59;
    --scale-9: #323F4B;
    --scale-10: #1F2933;
}

.theme-dark {
    --primary-1: #CBD2D9;
    --secondary-1: #865EFF;
    --success: #00b193;
    --warning: #ee6620;
    --error: #DC6150;
    --ongoing: #ee6620;
    --selection: #93C5FD;
    --pending: #616E7C;
    --color-1: #00b193;
    --color-2: #DC6150;
    --color-3: #93C5FD;
    --scale-0: #1F2933;
    --scale-1: #323F4B;
    --scale-2: #3E4C59;
    --scale-3: #52606D;
    --scale-4: #616E7C;
    --scale-5: #7B8794;
    --scale-6: #8B96A3;
    --scale-7: #8B96A3;
    --scale-8: #9AA5B1;
    --scale-9: #9AA5B1;
    --scale-10: #9AA5B1;
}

[x-cloak] { display: none !important; }