<form method='POST' action='#'><button type='submit' class='inline-flex items-center font-medium cursor-pointer text-gray-800 rounded-lg border border-gray-200 bg-white shadow-sm hover:bg-gray-50 px-3 py-2 text-base h-9 '>Plant it</button></form>