<div class=''><input type='hidden' id='trix-field-' name='' value='' /><trix-editor class='focus:outline-none focus:border focus:border-blue-500' input='trix-field-'></trix-editor><script type='text/javascript'>document.querySelector(".trix-button-group--file-tools").remove();</script></div>