<div><script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/trix/1.3.1/trix.js'></script><link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/trix/1.3.1/trix.css' /></div>